pandas==2.3.3
matplotlib==3.10.0
seaborn==0.13.2
requests==2.34.2
ipykernel

beautifulsoup4
lxml

openpyxl

playwright

pdfplumber
pypdf
camelot-py>=1.0,<2
PyMuPDF
Pillow
pytesseract

pandera

ydata-profiling==4.18.4
missingno

scipy
scikit-learn
